<figure class="grid grid-cols-2 gap-x-4 sm:gap-x-8">
  <img
    class="h-auto w-full object-contain"
    src="{{ include.src_left }}"
    alt="{{ include.alt_left }}"
    data-caption="{{ include.caption_left }}"
    data-exif="{{ include.exif_left }}"
    data-orientation="portrait"
    width="1365"
    height="2048"
    loading="lazy"
  />
  <img
    class="h-auto w-full object-contain"
    src="{{ include.src_right }}"
    alt="{{ include.alt_right }}"
    data-caption="{{ include.caption_right }}"
    data-exif="{{ include.exif_right }}"
    data-orientation="portrait"
    width="1365"
    height="2048"
    loading="lazy"
  />
</figure>
